<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name ="viewport" content="width=device-width,
    initial-scale=1.0">
    <title>Resume Student Info </title>
    <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.css' %}">
</head>
<body style="background-color:cornsilk;">
 <div class ="container mt-6">
     <h1 style="background-color:mediumTurquoise;"class ="text-center alter alter-danger">Information About The Students</h1>
     {% block content %} {% endblock content %}
 </div>
 <script src="{% static 'enroll/js/jquery.js' %}"></script>
 <script src="{% static 'enroll/js/popper.js' %}"></script>
 <script src="{% static 'enroll/js/bootstrap.js' %}"></script>
</body>
</html>